body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 3px;
}

.user-data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 10px;
}

.user-data-item>div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.user-data-item span {
    cursor: pointer;
}